.forms h1 {
    padding: 0 0 20px 0;
    font-size: 28px;
    color: #666;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 6%;
}

.forms form { 
    padding: 30px; 
}

.forms input {
    display: block;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 5%;
}

.forms .button {
    background-color: #53af57;
    color : white;
    margin-left: 25%;
    margin-top: 12%;
    width: 50%;
}