.navbar {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.5rem;
    background-color: #54b454;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-btn {
    display: inline-block;
    padding: 0.45rem 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border: none;
	outline: none;
    background-color: transparent;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
    color: white;
    background-color: transparent;
    border-color: white;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.6rem;
}
